<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        button {
            background-color: #4caf50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    </style>
    <title>로그링 메인 페이지</title>
</head>
<body>
<h2>이메일을 입력하시오.</h2>
<form action="/member/login" method="post">
    ID <input type="text" name="memberID"placeholder="아이디를 입력해주세요"><br>
    PASSWORD <input type="text" name="memberPassword" placeholder="비밀번호를 입력해주세요"><br>
    <button type="submit"> 로그인 </button><br>
</form>
<h2>회원이 아니시라면..</h2>
<button href="/member/register">회원가입</button>
</body>
</html>