<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        button {
            background-color: #4caf50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    </style>
    <title>회원가입</title>
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
</head>
<body>
<form action="/member/register" method="post">
    <!-- name속성: 서버로 전송할 때 변수이름의 역할 -->
    ID <input type="text" name="memberID" id="memberID" onchange="idCheck()">
    <p id="check-id"></p>
    EMAIL <input type="text" name="memberEmail" id="memberEmail" onchange="emailCheck()"> <br>
    <p id="check-email"></p>
    PASSWORD <input type="password" name="memberPassword"> <br>
    NICKNAME <input type="text" name="memberNickname" id="memberNickname" onchange="nicknameCheck()"><br>
    <p id="check-nickname"></p>
    <button type="submit">회원가입</button>

</form>
</body>
<script th:inline="javascript">
    const emailCheck = () => {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("check-email");
        $.ajax({
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: "/member/email-check",
            data: {
                "memberEmail": email
            },
            success: function (res) {
                if (res == "ok") {
                    checkResult.style.color = "blue";
                    checkResult.innerHTML = "사용가능한 이메일";
                } else {
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 이메일";
                }
            },
            error: function (err) {
                console.log("에러발생", err);
            }
        });
    }
    const idCheck = () => {
        const id = document.getElementById("memberID").value;
        const checkResult = document.getElementById("check-id");
        $.ajax({
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: "/member/id-check",
            data: {
                "memberID": id
            },
            success: function(res) {
                if (res == "ok") {
                    checkResult.style.color = "blue";
                    checkResult.innerHTML = "사용가능한 아이디";
                } else {
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 아이디";
                }
            },
            error: function(err) {
                console.log("에러발생", err);
            }
        });
    }
    const nicknameCheck = () => {
        const nickname = document.getElementById("memberNickname").value;
        const checkResult = document.getElementById("check-nickname");
        $.ajax({
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: "/member/nickname-check",
            data: {
                "memberNickname": nickname
            },
            success: function(res) {
                if (res == "ok") {
                    checkResult.style.color = "blue";
                    checkResult.innerHTML = "사용가능한 닉네임";
                } else {
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 닉네임";
                }
            },
            error: function(err) {
                console.log("에러발생", err);
            }
        });
    }
</script>
</html>